<!-- <!doctype html>
    <html lang="en">
        <head>
            <meta ch4rset="utf-8" />
            <title>Homepage</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <meta name="theme-color" content="#000000" />
            <meta name="description" content="Web site created using create-react-app" />
                <link rel="stylesheet" type="text/css" href="./static/css/index.css" />
                <link rel="stylesheet" type="text/css" href="./static/css/font.css" />
                <link rel="stylesheet" type="text/css" href="./static/css/style.css" />
                <link rel="stylesheet" type="text/css" href="./static/css/components.css" />
                <link rel="stylesheet" type="text/css" href="./static/css/home.css" />
                 <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}?v=1.0">
                <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}?v=1.0">
                <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}?v=1.0">
                <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}?v=1.0">
                <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}?v=1.0"> 
            </head>
        <body>
        <div class="home">
            <header class="headergeminigen-1">
                <img src="{{ url_for('static', filename='images/logo.png') }}?v=1.0" alt="Geminigenerate" class="geminigenerate" />
                    <div class="rowadopt">
                        <h4 class="ui heading size-headingxs">Adopt</h4>
                        <ul class="rowaboutus">
                            <li>
                                <a href="#">
                                    <h4 class="ui heading size-headingxs">About us</h4>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <h4 class="ui heading size-headingxs">Contact us</h4>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <h4 class="ui heading size-headingxs">Adoption Process</h4>
                                </a>
                            </li>
                        </ul>
                    </div>
                </header>
                <div class="columnapawproce-1">
                    <div class="columnpawpaw">
                        <div class="stackanewpal">
                            <div class="column">
                                <div class="columnanewpal">
                                    <h2 class="anewpal_one ui heading size-headingmd">A new pal awaits</h2>
                                 
                                </div>
                                <div class="columnadoptions">
                                    <button class="adoptions ui button blue gray 560 size-sm fill round">Adoptions</button>
                                    <button class="adoptions ui button blue gray 560 size-sm fill round">Donate</button>
                                </div>
                            </div>
                            <div class="columnpawpaw-1">
                            <div class="columnd6v11p972 container-xs">
                                <img src="{{ url_for('static', filename='images/cats and dog image.png') }}?v=1.0" alt="D6v11p97243743" class="d6v11p97243743" />
                            </div> 
                            <div class="columnpawpaw-1">
                                <div class="columnd6v11p972 container-xs">
                                    <img src="{{ url_for('static', filename='images/cats and dog image.png') }}?v=1.0" alt="D6v11p97243743" class="d6v11p97243743" />
                                </div>
                                <div class="rowpawpaw_one">
                                    <img src="{{ url_for('static', filename='images/paw paw_processed 1 left.png') }}?v=1.0" alt="Pawpaw" class="pawpaw_one" />
                                    <div class="row-1">
                                        <div class="rowhelpingpawsi container-xs">
                                            <h3 class="helpingpawsin ui heading size-headingx1">helping paws in Columbus</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img src="{{ url_for('static', filename='images/paw paw_processed 1 right.png') }}?v=1.0" alt="Pawpaw" class="pawpaw_three" />
                        </div>
                        <div class="rowfeline_pals">
                            <div class="rowunnamedone">
                                <img src="{{ url_for('static', filename='images/unnamed1_processed 1.png') }}?v=1.0" alt="Unnamedone" class="unnamedone one" />
                                <button class="doggie pals ui button blue gray 500 size-sm fill round">Doggie Pals</button>
                            </div>
                            <button class="feline pals ui button blue gray 500 size-sm fill round">Feline Pals</button>
                            <img src="{{ url_for('static', filename='images/catto 1.png') }}?v=1.0" alt="Cattoone" class="cattoone_ one" />
                        </div>
                    </div>
                    <footer class="footer">
                        <div class="stackphone-1">
                            <div class="column_one">
                                <img src="{{ url_for('static', filename='images/Rectangle 5.png') }}?v=1.0" alt="Image" class="image-1" />
                                <img src="{{ url_for('static', filename='images/Rectangle 6.png') }}?v=1.0" alt="Image" class="image" />    
                            </div>
                            <div class="columnphone-1">
                                <h1 class="phone-1 ui heading size-headinglg">Phone</h1>
                                <p class="phoneline-1 ui text size-texts">Phone line</p>
                            </div>
                            <div class="flex-col-end-center columnmondayfri">
                                <h1 class="mondayfriday-1 ui heading size-headinglg">Monday-Friday</h1>
                                <p class="time-2 ui text size-textxs">11:00AM-7:00PM</p>
                                <h1 class="weekday ui heading size-headinglg">Saturday & Sunday</h1>
                                <p class="time-2 ui text size-textxs">11:00AM-4:00PM</p>
                            </div>
                            <img src="{{ url_for('static', filename='images/a paw_processed 1.png') }}?v=1.0" alt="Apawprocessed" class="apawprocessed-1" />
                            <div class="rowgeminigenera-1">
                                <img src="{{ url_for('static', filename='images/cat-and-dog-image-footer.png') }}?v=1.0" alt="Geminigenerate" class="geminigenerate-3" />
                                <h1 class="address ui heading size-headinglg">Address</h1>    
                            </div>
                            <p class="addressline-1 ui text size-texts">address line</p>
                        </div>
                    </footer>
                </div>
            </div>
        </body>
    </html>
     -->




     <!DOCTYPE html>
     <html lang="en">
     <head>
         <meta charset="UTF-8">
         <title>Homepage</title>
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <meta name="'theme-color'" content="#000000">
         <meta name="description" content="About Us">
         <link rel = "stylesheet" href = "./static/css/home.css">
         <link rel = "stylesheet" href = "./static/css/index.css">
         <link rel = "stylesheet" href = "./static/css/font.css">
         <link rel = "stylesheet" href = "./static/css/style.css">
         <link rel = "stylesheet" href = "./static/css/components.css">
     </head>
     <body>
         <div class="about-us">
             <div class="columngeminige-1">
                <header class="headergeminigen-1">
                     <div class="headergeminigen-2">
                         <img src="./static/images/logo-1.png" alt="Geinigerate" class="geminigenerate">
                         <div class="rowadopt">
                             <ul class ="rowaboutus">
                                 <li>
                                     <a href="adopt">
                                         <h4 class="ui heading size-headingxs">Adopt</h4>
                                     </a>
                                 </li>
                                 <li>
                                     <a href="about">
                                         <h4 class = "ui heading size-headingxs">About Us</h4>
                                     </a>
                                 </li>
                                 <li >
                                     <a href="contact">
                                         <h4 class = "ui heading size-headingxs">Contact Us</h4>
                                     </a>
                                 </li>
                                 <li>
                                     <a href="adoptionprocess">
                                         <h4 class = "ui heading size-headingxs">Adoption Process</h4>
                                     </a>
                                 </li>
                             </ul>
                         </div>
                     </div>
                </header>
                <div class="columnapawproce-1">
                    <div class="columnpawpaw">
                        <div class="stackanewpal">
                            <div class="column">
                                <div class="columnanewpal">
                                    <h1 class="anewpal ui heading size-headingmd">A new pal awaits</h1>
                                    <h2 class="anewpal_one ui heading size-headingmd">A new pal awaits</h2>
                                </div>
                                <div class="columnadoptions">
                                    <button onclick="window.location.href='{{ url_for('dog') }}'" class="dogs ui button blue_gray_500 size-md fill round" style="height: 110px;">Adoptions</button>
                                    <button onclick="window.location.href='{{ url_for('dog') }}'" class="dogs ui button blue_gray_500 size-md fill round" style="height: 110px;">Donate</button>
                                </div>
                            </div>
                            <div class="columnpawpaw-1">
                                <div class="columnd6v11p972 container-xs">
                                    <img src="./static/images/cats and dog image.png" alt="D6v11p97243743" class="d6v11p97243743" />
                                </div>
                                <div class="rowpawpaw_one">
                                    <img src="./static/images/paw paw_processed 1 left.png" alt="Pawpaw" class="pawpaw_one" />
                                    <img src="./static/images/paw paw_processed 1 right.png" alt="Pawpaw" class="pawpaw_three" />
                                    <div class="row-1">
                                        <div class="rowhelpingpawsi container-xs">
                                            <h3 class="helpingpawsin ui heading size-headingx1">helping paws in Columbus</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rowfeline_pals">
                            <div class="rowunnamedone">
                                <img src="./static/images/unnamed1_processed 1.png" alt="Unnamedone" class="unnamedone_one" />
                                <button onclick="window.location.href='{{ url_for('dog') }}'" class="doggie_pals ui button blue gray 500 size-sm fill round">Doggie Pals</button>
                            </div>
                            <button onclick="window.location.href='{{ url_for('cat') }}'" class="feline_pals ui button blue gray 500 size-sm fill round">Feline Pals</button>
                            <img src="./static/images/catto 1.png" alt="Cattoone" class="cattoone_one" />
                        </div>
                    </div>
                </div> 
     
     
                <footer class="footer">
                     <div class="stackphone-1">
                         <div class="column_one">
                             <img src="./static/images/Rectangle_5.png" alt="Image" class="image-1">
                             <img src="./static/images/Rectangle_6.png" alt="Image" class="image">
                         </div>
                         <div class="columnphone-1">
                             <h1 class="phone-1 ui heading size-headinglg">Phone</h1>
                             <p class = "phoneline ui text size-textxs">555-123-4567</p>
                         </div>
                         <div class="flex-col-end-center columnmondayfri">
                             <h1 class="mondayfriday-1 ui heading size-headinglg">Monday to Friday</h1>
                             <p class = "time ui text size-textxs">8:00am to 10:00pm</p>
                             <h1 class="weekday ui heading size-headinglg">Saturday & Sunday</h1>
                             <p class = "time ui text size-textxs">11:00am to 4:00pm</p>
                         </div>
                         <img src="./static/images/a paw_processed 1.png" alt="Apawprocessed" class="apawprocessed-1">
                         <div class="rowgeminigenera-1">
                             <img src="./static/images/cat-and-dog-image-footer.png" alt="Geminigenerate" class="geminigenerate-3">
                         </div>
                         <h1 class="address ui heading size-headinglg">Address</h1>    
                         <p class = "addressline-1 ui text size-textxs">123 Petes St, Columbus, GA</p>
                     </div>
                </footer>
             </div>
         </div>
     </body>
     </html>     
